.history

templates/main/.history
dcli_core/.packages
dcli_core/.dart_tool
.dart_tool
.testing
**/*vm.json
bin/*
test/sudo/privileges
tool/post_release_hook/.settings.yaml
test/test_script/dcli_unit_tester/bin/dcli_unit_tester.exe
test/test_script/dcli_unit_tester/bin/dcli_unit_tester
test/test_script/dcli_unit_tester/pubspec.lock
test/test_script/general/pubspec.lock
test/test_script/traditional_project/pubspec.lock
dcli/test/test_script/general/bin/head
dcli/test/test_script/general/bin/ls
dcli/test/test_script/general/bin/tail
dcli/test/test_script/general/bin/touch
template/basic/.packages
issues/since/since.zip
issues/since/.packages
dcli/test/test_script/general/bin/*.exe
**/.packages
dcli/test/privileged_test
dcli/test/privileged_test
dcli_unit_tester/bin/dcli_unit_tester
dcli/tool/post_release_hook/.settings_yaml
.idea/dcli.iml
.idea/libraries/Dart_SDK.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
*.xml
dcli_unit_tester/test/test_script/general/bin/head
dcli_unit_tester/test/test_script/general/bin/ls
dcli_unit_tester/test/test_script/general/bin/run_child
dcli_unit_tester/test/test_script/general/bin/tail
dcli_unit_tester/test/test_script/general/bin/touch
dcli/custom_lint.log
**/analyzer.txt
**/custom_lint.log
template/project/full/pubspec.yaml
.mcp_logs/mcp_command_server.log
dcli_sdk/.mcp_logs/mcp_command_server.log
dcli/tool/post_release_hook/.mcp_logs/mcp_command_server.log
