.history
dcli/lib/src/dcli/resource/generated

templates/main/.history
dcli_core/.packages
dcli_core/.dart_tool
.dart_tool
.testing
**/*vm.json
bin/dcli
.gitignore
bin/dcli_complete
.gitignore
bin/dcli_install
bin/dshell_upgrade
test/sudo/privileges
tool/post_release_hook/.settings.yaml
test/test_script/dcli_unit_tester/bin/dcli_unit_tester.exe
test/test_script/dcli_unit_tester/bin/dcli_unit_tester
test/test_script/dcli_unit_tester/pubspec.lock
test/test_script/general/pubspec.lock
test/test_script/traditional_project/pubspec.lock
