# Files and directories created by pub
.dart_tool/
.packages
.history
# Remove the following pattern if you wish to check in your lock file
pubspec.lock

# Conventional directory for build outputs
build/

# Directory created by dartdoc
doc/api/

.vscode/
test/data/shell/main/bad.jpg
test/data/shell/main/subdir/goody.jpg
test/tools/images/bad.jpg
tmp/lines.txt
test.text
shell/main/good.jpg
shell/main/subdir/goody.jpg
tmp/top/one.jpg
tmp/top/one.txt
tmp/top/two.txt
tmp/top/middle/four.txt
tmp/top/middle/three.txt
tmp/top/middle/two.jpg
tmp/top/middle/bottom/five.txt
tmp/top/middle/bottom/six.txt
tmp/top/middle/bottom/three.jpg
test/test_scripts/bin/burp.dart
test/test_scripts/bin/hello_world.dart
test/test_scripts/bin/new_world.dart
test/test_scripts/bin/fred
test/test_scripts/bin/fred.dart
test/test_scripts/bin/help
test/test_scripts/bin/which
bin/dcli_install
bin/dcli
example/dsort
shell/main/subdir/good.jpg
test/test_scripts/bin/local_pubspec/hello_world
test/.test_coverage.dart
coverage
lcov.info
dcli.code-workspace
.release.notes.tmp.swp
release.notes.tmp
github_credentials.yaml
tool/post_release_hook/git_release.dart
bin/dcli_complete
bin/dshell_upgrade
test/sudo/test.txt
test/sudo/test2.txt
test/test_script/general/.project
test/test_script/traditional_project/.project
